@font-face {
    font-family: Gantari;
    src: url(gantari.ttf);
}

:root {
    --border-color: #b8b8b8;
    --hover-color: #dedede;
    --focused-border-color: #808080;
    --group-width: 280px;
    --icon-size: 20px;
    --button-size: 24px;
    --large-gap: 16px;
    --transition-duration: .25s;
    --revert-duration: .1s;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

body, button {
    font-family: Gantari;
    font-size: 16px;
    font-weight: 400;
}

#workspace {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--large-gap);
    height: 100vh;
    padding: 16px;
}

#board {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    gap: var(--large-gap);
    min-height: 0;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

#bin {
    display: none; /* changed to flex in script */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    transition: border-color var(--revert-duration);
    animation: bin-grow .25s;
    transform-origin: center bottom;
}

@keyframes bin-grow {
    from {
        transform: scale(1, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    transition: border-color var(--revert-duration);
}

.add-button:hover {
    border: 1px solid var(--border-color);
    transition: all .25s;
}

.add-button:focus {
    outline: none;
    border-color: var(--focused-border-color);
    transition: border-color var(--transition-duration);
}

#add-group-button {
    width: 120px;
    height: var(--button-size);
}

.label {
    line-height: 24px;
    word-break: break-word;
    border-radius: 4px;
}

.label[contenteditable="true"] {
    outline: 1px solid var(--focused-border-color);
}

.drop-zone {
    border-color: var(--focused-border-color) !important;
    transition: border-color .25s;
}

.group {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 4px;
    max-height: 100%;
    width: var(--group-width);
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.card-scroller {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-height: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}

.card {
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.card:hover {
    border-color: var(--focused-border-color);
    transition: border-color .25s;
}

.add-card-button {
    height: var(--button-size);
}